@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #000000;
}

p {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
}
h6 { 
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 0.5s all ease-in-out;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Courier;
  text-align: center;
  color: #000000;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

aside.card {
  width: 300px;
  height: 200px;
  position: relative;
  perspective: 600px;
}

aside.card div.front {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 0.5s all ease-in-out;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Courier;
  text-align: center;
  color: #000000;
}

aside.card div.back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 0.5s all ease-in-out;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Courier;
  text-align: center;
  color: #ff0000;
}

aside.card div.front {
  background-color: #5ef2ef;
  z-index: 1000;
  transform: rotate(0deg);
}

aside.card div.back {
  background-color: #5ef2ef;
  z-index: 900;
  transform: rotate(-180deg);
}

aside.card:hover div.front {
  z-index: 900;
  transform: rotate(-180deg);
}

aside.card:hover div.back {
  z-index: 1000;
  transform: rotate(0deg);
}